.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;

    &__link {
        display: flex;
        align-items: center;
        padding: 15px 20px;
        cursor: pointer;
        &:hover {
            background-color: rgb(43, 43, 43);
            color: #fff;
        }
    }

    &__span {
        margin-left: 10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.4px;
    }
}

@media (max-width: 1224px) {
    .menu {
        &__link {
            justify-content: center;
        }

        &__span {
            display: none;
        }
    }
}