.spinner {
    &__wrap {
        position: absolute;
        top: 125px;
        left: 50%;
        bottom: 50px;
        width: 70px;
        height: 60px;
        transform: translate3d(-50%, -50%, 0);
    }
    
    &__img {
        width: 100%;
    }
}